@keyframes highlight {
    0% {
        scale: 0;
    }
    25% {
        scale: 0.5;
    }
    50% {
        scale: 1;
    }
    75% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

.note.highlighted {
    animation: highlight 200ms ease-in-out;
}

img {
    user-select: none; /* Prevents text selection */
    -webkit-user-drag: none; /* Prevents dragging on WebKit browsers */
    -moz-user-drag: none; /* Prevents dragging on Firefox */
    -ms-user-drag: none; /* Prevents dragging on IE */
    -webkit-user-drag: none;
  }
  

.resizable-box {
    position: absolute !important;
    overflow: hidden;
}

.resizable-handle {
    background-image: url('./resize.svg');
    height: 20px;
    width: 20px;
    object-fit: contain !important;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 20;
    cursor: se-resize;
}

.resizable-handle.hide {
    display: none;
}

.note {
    ::-webkit-scrollbar {
        width: 20px;
        height: 8px;
    }
}

