@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
    padding-right: 0 !important;
}
